
body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1, h3 {
  margin: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
}
.container{
  width: 500px;

  border: 1px solid black;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.header{
  background: url("http://lorempixel.com/500/280/sports/");
  color: white;
  text-align: center;
  padding: 40px 0;
}
.header hr {
  padding: 0;
  margin: 0;
  color: white;
  border: 1.5px solid white;
}
.contact-form{
}

.form-top {
  position: relative;
  background-color: #998d6e;
background-image: url("http://www.transparenttextures.com/patterns/exclusive-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 275px;
}
.f-name-inpt {
  top: 10px;
  left: 147px;
}
.l-name-inpt {
  top: 70px;
  left: 147px;
}
.number-inpt {
  top: 130px;
  left: 147px;
}
.email-inpt {
  top: 190px;
  left: 147px;
}
input {
  width: 200px;
  height: 25px;
  font-size: 1.5em;
  border: none;
  border-bottom: 3px solid #ccc;
  /*border-radius: 10px;*/
  background: transparent;
}
textarea {
  font-size: 1em;
  border-radius: 10px;
}
.comment-area {
  top: 20px;
  left: 74.5px;
}
.submit-btn {
  top: 175px;
  left:175px;
}
button {
  padding: 10px;
  border-radius: 10px;
}

.absolute{
  position: absolute;
}
.footer {
  position: relative;
  background-color: #706045;
  background-image: url("http://www.transparenttextures.com/patterns/exclusive-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 250px;

}
