*{
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-size: 2.7em;
}
body{
  font-family: sans-serif;

}

.container{
  width:340px;
  height: 710px;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
}
hr {
  margin: 3px 0;
}

.thick-hr{
  border: 7px solid black ;
}

.medium-hr{
  border: 3px solid black ;
}

.medium-hr + p {
  text-align: right;
}

.small-text{
  font-size: 0.75em;
}
.inline-p{
  display:inline-block;
}
.right-p{
  float: right;
}

.indent-20{
  margin-left: 20px;
}

.indent-10{
  margin-left: 7.5px;
}

.indent-10-t {
  padding-left: 7.5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  border-bottom: 1px solid black;
  text-align: left;
}
